
@import url("https://fonts.googleapis.com/css?family=Ubuntu");


#main {
  background-color: #ffcdd2;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  justify-content: space-around;
}
#quote-box {
  display: table;
  width: 720px;
  height: 100%;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  border: 7px solid #b3e5fc;
  margin-top: 100px;
  
}
@media screen and (max-width: 980px) {

#quote-box {
  width: 75%;
height: 100%;
}

}

#quote-box-top {
  padding: 40px;
  text-align: center;
  height: inherit;

}

a {
  cursor: pointer;
}

.buttons-box {
  display: flex;
  height: 125px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  

   
}

#tweet-quote {
  float: left;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #b3e5fc;
}

#text,
.author {
  font-family: ubuntu;
  font-size: 24px;
  color: grey;
}
.author {
  height: auto;
  padding: 20px 80px 0px 0px;
  font-size: 1.5em;
  text-align: right;
}

#new-quote {
  font-family: ubuntu;
  font-size: 1em;
  color: black;
  background-color: #b3e5fc;
  border-radius: 7px;

 }


